<p-toast />
<h1>LEZIONE AFP</h1>
<h2>Stato: {{appState.state()}}</h2>
@let st = appState.message();

@if (st) {
<p>Message: {{appState.message()}}</p>
}
<div class="flex justify-center">
    <p-button (click)="appState.setStateToReady()" label="READY" severity="success" />
    <p-button (click)="appState.setStateToLoading()" label="LOADING" severity="help" [loading]="appState.state() === 'LOADING'" />
    <p-button (click)="appState.setStateToLoading('Caricamento')" label="LOADING + MSG" severity="help" [loading]="appState.state() === 'LOADING'" />
    <p-button (click)="appState.setStateToError('Errore manuale...')" label="ERROR" severity="danger" [rounded]="true"/>
    <p-button (click)="lanciaErrore()" label="LANCIA ERROR" severity="danger" [rounded]="false"/>
    <p-button (click)="lanciaLogicalError()" label="LANCIA ERRORE LOGICO" severity="danger" [rounded]="false"/>
</div>


<router-outlet />
